<div>
  <div>
    <h1>LIFE Passって？</h1>
  </div>
  <div>
    <p>現代社会は変化が速く、あらゆるものが急速に変化しており、</p>
    <p>それに伴って人の人生に対する課題、問題、悩みなども多種多様なものになっています。</p>
    <p>それらを乗り越えた人の知恵やテクニックを共有し、</p>
    <p>今を生きる人たちがより生きやすくなればとの思いから生まれたサイトです。</p>
    <p>投稿されたものに対して閲覧者が参考になったと思ったらいいねをつけることができ、</p>
    <p>いいねが多い投稿者は上位5位までランキングで表示されます。</p>
    <p>※投稿やブックマーク、投稿文全文を見るなどはサインアップ後使用できます。</p>
  </div>
</div>